footer {
   padding: 3.5rem 0;
   min-height: 600px;
   background-image: url('../assets/img/footer-bg.jpg');
   background-size: cover;
   background-position: center;

   .container {
      .row-1 {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-bottom: 3rem;
         border-bottom: 1px solid #bfbfbf;

         .link {
            span {
               padding: 1rem;
               text-transform: uppercase;

               a {
                  color: #bfbfbf;
               }
            }
         }

         .media {
            img {
               width: 24px;
               margin-right: 1.5rem;
            }
         }
      }

      .row-2 {
         margin-top: 1rem;
         display: flex;
         justify-content: space-between;

         a {
            color: #bfbfbf;
         }

         a:hover {
            color: var(--color-red-1)
         }

         .right-column {
            span {
               display: inline-block;
               margin-right: .75rem;
               text-transform: uppercase;
               color: #bfbfbf;
               font-size: .75rem;
            }
         }
      }
   }
}


@media screen and (max-width:768px) {
   footer {
      .container {
         .row-1 {
            flex-direction: column;
            align-items: flex-start;

            .link {
               width: 100%;
               display: flex;
               flex-direction: column;

               span {
                  border-bottom: 1px solid #bfbfbf56;
               }
            }

            .media {
               width: 100%;
               margin-top: 2rem;
               display: flex;
               justify-content: center;
            }
         }
      }
   }
}