footer {
   // background-image: ;
   padding: 4rem 0 ;
   .container {
      .row-1 {
         display: flex;
         justify-content: space-between;
         align-items: center;
         .link {

         }
         .media{
            img {
               width: 32px;
               margin-right: .75rem;
            }
         }
      }
   }
}