section.hero {
   .container-fluid {
      position: relative;

      .row {
         .slider {
            img {
               width: 100%;
            }
         }

         .navigation {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            display: flex;

            .el {
               width: 64px;
               height: 6px;
               background-color: #bfbfbf;
               transform: skew(-20deg);
               cursor: pointer;
               margin-right: .5rem;
            }

            .active {
               background-color: var(--color-red-1);
            }

         }
      }
   }
}