section.product {
   padding: 3rem 0;

   .container {
      .heading {
         text-align: center;
         font-size: 2rem;
         margin-bottom: 3rem;
      }

      .row {
         position: relative;

         .slider {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1.5rem;
         }

         .navigation {

            .left,
            .right {
               position: absolute;
               top: 50%;
               transform: translate(0, -50%);
               border-radius: 50%;
               cursor: pointer;
               font-weight: bold;

               img {
                  width: 48px;
               }
            }

            .left {
               left: -80px;
            }

            .right {
               right: 80px;
            }

         }
      }
   }
}

section.product {
   .container {
      .row {
         .slider {
            overflow: auto;
         }

         .navigation {
            display: none;
         }
      }
   }
}